.sidebar_menu {
  ul {
    li {
      a,
      button {
        &.current_button,
        &.button_open {
          svg {
            @apply fill-black;
            path {
              @apply fill-black stroke-black;
              &.fill-none-hover,
              &.fill_none {
                @apply fill-none;
              }
            }
          }
        }
        svg {
          @apply fill-white;
          path {
            @apply fill-white;
            &.fill_none {
              @apply fill-none;
            }
          }
          &.promotion_icon {
          }
          &.current {
            &_active {
              @apply fill-black;
              path {
                @apply fill-black stroke-black;
                &.fill-none-hover,
                &.fill_none {
                  @apply fill-none;
                }
              }
            }
          }
        }
        &:hover {
          svg {
            @apply fill-black stroke-black;
            path {
              @apply fill-black stroke-black;
              &.fill-none-hover,
              &.fill_none {
                @apply fill-none;
              }
            }
          }
        }
      }

      .sub {
        &_items {
          @apply pt-2;
          &_item {
            @apply relative pl-6 inline-block;
            a {
              @apply w-10/12 mb-2;
            }
            &:before {
              content: "";
              @apply absolute bottom-0 left-0 h-full w-[1px] bg-gray-400;
            }

            &:after {
              content: "•";
              @apply absolute text-gray-400;
              top: 28%;
              left: -3.5px;
              font-size: 14px;
            }

            &:hover,
            &_active {
              &:after {
                @apply text-primary;
              }
            }

            &:first-child {
              &:before {
                @apply h-1/2;
              }
            }

            &:last-child {
              &:before {
                @apply h-1/2 top-0 bottom-auto;
              }
            }
          }
        }
      }
    }
  }
}
